@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: rgb(55 65 81 / var(--tw-text-opacity, 1));
  --secondary-color: rgb(79 70 229 / var(--tw-bg-opacity, 1));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
